%footer
  .container
    %p © Insta Feed 2018 was made by Keih O'Brien.
    %ul.list-inline
      %li.list-inline-item
        %a{:href => "#"} Privacy
      %li.list-inline-item
        %a{:href => "#"} Terms
      %li.list-inline-item
        %a{:href => "#"} FAQ
